@import url("https://fonts.googleapis.com/css2?family=Ribeye:wght@400&display=swap");
.App{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f8eaa4;
}

h1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.false{
    background-color:rgb(250, 190, 190);
}

.true{
    background-color: rgb(153, 253, 140);
}

.TODO{
    width: 75%;
    border-radius: 15px;
    display: flex;
    align-items:baseline;
    flex-direction: row;
    margin:6px;
    margin-left: 13%;
}
.input{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin:6px;
}

.text{
    margin:6px
}
.time{
    margin:6px
}

.texty{
    width: 50%;
}
.buttony{
    width: 50%;
    display: flex;
    align-items:center;
    flex-direction: column;
}
p{
    margin: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 5px;
    width: 15%;
    height: 25px;
    border-radius: 15px;
}